body {background-color:beige;  text-align: center;
}

h1 {background-color:DodgerBlue;
}

h2{color:grey;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px double green;
  padding: 10px;
}